.video-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  margin: 1rem;
}

.main-video {
  width: 100%;
}

.side-videos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-card {
  width: 100%;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}
